:javascript
  var max_id = 1;
  var finishedCount = 0;
  
  // Reverse sort (newest on top)
  function compare(a, b) {
    if (a['timestamp'] < b['timestamp'])
      return 1
    if (a['timestamp'] > b['timestamp'])
      return -1;
    return 0;
  }

  function feedsLoaded(twitterArgs, facebookArgs) {
    var twitter = twitterArgs[0];
    var facebook = facebookArgs[0];

    var items = [];

    if (twitter.length > 0) {
      max_id = twitter[0]['id_str'];
    }

    $.each(twitter, function(key, value) {
      var item = {};
      item['timestamp'] = Date.parse(value['created_at']);
      item['content'] = '<li class="tweet"><img src="'
        + value['user']['profile_image_url']
        + '" /><div id="tweet_text">'
        + value['text']
        + '</div><div class="twitter_screen_name">'
        + value['user']['screen_name']
        + '</div>';
      items.push(item);
    });

    $.each(facebook, function(key, value) {
      if (value['type'] == 'status') {
        var item = {};
        item['timestamp'] = Date.parse(value['created_time']);
        item['content'] = '<li class="fb"><img src="http://graph.facebook.com/' + value['from']['id'] + '/picture" />'
          + '<div id="fb_text">'
          + value['message']
          + '</div><div class="fb_name">'
          + value['from']['name']
          + '</div></li>';
        items.push(item);
      }
    });
    
    items.sort(compare);
    $('<ul />', {
      html: items.map(function(item) { return item.content; }).join('')
    }).appendTo('body');
  }

  $(document).ready(function() {
    $("#refresh_button").click(function() {
      $.when(
        $.getJSON('/api/twitter_user_timeline.json?since_id=' + max_id, function(data) {
          return data;
        }),
        $.getJSON('/api/facebook_feed.json', function(data) {
          return data;
        })).done(feedsLoaded);
    });
  });

%h1 simplemerge
%button{:id => "refresh_button"} refresh
